openapi: 3.1.0
info:
  contact:
    email: support@thecompaniesapi.com
    name: The Companies API
    url: https://www.thecompaniesapi.com
  description: An enrichment platform to search and retrieve information about companies
  termsOfService: https://www.thecompaniesapi.com/product/terms
  title: The Companies actions teams API
  version: 2.0.0
servers:
- description: Production server
  url: https://api.thecompaniesapi.com
tags:
- name: teams
paths:
  /v2/teams/{teamId}:
    get:
      description: Get team information.
      operationId: fetchTeam
      tags:
      - teams
      security:
      - apiKey: []
      parameters:
      - schema:
          type: number
        required: true
        name: teamId
        in: path
      responses:
        '200':
          description: Get team information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '401':
          description: The error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  details: {}
                  messages:
                    type: string
                    enum:
                    - tokenNotFound
                    - invalidApiSecret
                    - missingApiSecret
                    - userNotAuthenticated
                  status:
                    type: number
                    minimum: 400
                    maximum: 511
                required:
                - messages
                - status
        '403':
          description: The error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  details: {}
                  messages:
                    type: string
                    enum:
                    - userNotInTeam
                  status:
                    type: number
                    minimum: 400
                    maximum: 511
                required:
                - messages
                - status
        '404':
          description: The error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  details: {}
                  messages:
                    type: string
                    enum:
                    - teamNotFound
                  status:
                    type: number
                    minimum: 400
                    maximum: 511
                required:
                - messages
                - status
    patch:
      description: Update a team.
      operationId: updateTeam
      tags:
      - teams
      security:
      - apiKey: []
      parameters:
      - schema:
          type: number
        required: true
        name: teamId
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                country:
                  type: string
                  maxLength: 255
                name:
                  type: string
                  maxLength: 255
                websiteUrl:
                  type: string
                  maxLength: 255
      responses:
        '200':
          description: Update a team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '401':
          description: The error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  details: {}
                  messages:
                    type: string
                    enum:
                    - tokenNotFound
                    - invalidApiSecret
                    - missingApiSecret
                    - userNotAuthenticated
                  status:
                    type: number
                    minimum: 400
                    maximum: 511
                required:
                - messages
                - status
        '403':
          description: The error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  details: {}
                  messages:
                    type: string
                    enum:
                    - userNotInTeam
                  status:
                    type: number
                    minimum: 400
                    maximum: 511
                required:
                - messages
                - status
        '404':
          description: The error message
          content:
            application/json:
              schema:
                type: object
                properties:
                  details: {}
                  messages:
                    type: string
                    enum:
                    - teamNotFound
                  status:
                    type: number
                    minimum: 400
                    maximum: 511
                required:
                - messages
                - status
components:
  schemas:
    Team:
      type: object
      properties:
        admin:
          type:
          - boolean
          - 'null'
        country:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
        credits:
          type: number
        creditsPack:
          type: number
        id:
          type: number
        name:
          type:
          - string
          - 'null'
        role:
          type:
          - string
          - 'null'
        stripeCustomerId:
          type:
          - string
          - 'null'
        stripeProductId:
          type:
          - string
          - 'null'
        stripeSubscribed:
          type: boolean
        stripeSubscriptionId:
          type:
          - string
          - 'null'
        stripeSubscriptionStatus:
          type:
          - string
          - 'null'
        websiteUrl:
          type:
          - string
          - 'null'
      required:
      - admin
      - country
      - createdAt
      - credits
      - creditsPack
      - id
      - name
      - stripeCustomerId
      - stripeProductId
      - stripeSubscribed
      - stripeSubscriptionId
      - stripeSubscriptionStatus
      - websiteUrl
      description: A collection of users that can access the same resources.
  securitySchemes:
    apiKey:
      description: The API key to use for authentication, you can get it from your API tokens page.
      in: header
      name: Authorization
      type: apiKey
externalDocs:
  description: The Companies API Documentation
  url: https://www.thecompaniesapi.com/docs
